.vaccination-scheduler {
  background: #0b0d30;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 30px;
  flex: 1 1 250px;
  text-align: left;
  transition: transform 0.3s;
}



.scheduler-title {
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: var(--font-family-Inter-semi-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;

}

.scheduler-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.05);
  padding: 56px 46px;
  border-radius: 12px;
  flex-wrap: wrap;

}

.form-field {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  flex: 1 1 250px;
}

.field-label {

    opacity: 0.7;
    margin: 0;
    display: block;
    color: rgba(255, 255, 255, 0.50);
    font-family: var(--font-family-Inter-semi-bold);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.field-value {
    font-weight: 600;
    margin: 2px 0 0 0;
    color: #FFF;
    font-family: var(--font-family-Inter-regular);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.submit-button {
  background: #00bfff;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
  border: none;
}

.submit-button:hover {
  background: #00a6d9;
}

img.timer-img {
  padding-right: 30px;
}

img.map-icon {
    padding-right: 29px;
}
