:root {
  --font-family-Inter-regular: 'Inter', sans-serif;
  --font-family-Inter-medium: 'Inter', sans-serif;
  --font-family-Inter-semi-bold: 'Inter', sans-serif;
  --font-family-Inter-bold: 'Inter', sans-serif;
  --font-family-Inter-extra-bold: 'Inter', sans-serif;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 1299px;
  /* border: 2px solid red; */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav section */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

a.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.125rem;
  background-color: #00cfff;
  width: 0%;
  transition: width 0.3s ease;
}

a.nav-link:hover::after {
  width: 100%;
  animation: heartbeat116 1.5s ease-in-out 0.3s ;
  overflow: hidden;
}


.nav-section {
  display: flex;
  /* position: relative; */
  align-items: center;
  justify-content: space-between;
}

ul.nav-list {
  display: flex;
  list-style: none;
}

a.nav-link {
  text-decoration: none;
  padding: 13px;
  color: rgba(255, 255, 255, 0.50);
  font-family: var(--font-family-Inter-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  overflow: hidden;
}

button.btn-primary {
  color: #17C2EC;
  font-family: var(--font-family-Inter-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button.status-btn {
  padding: 20px 26px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.status-btn:hover {
  /* border: none; */
  background-color: #17C2EC;
  color: #fff;
}

.swiper-icon{
  width: 100%;
}

.header {
    /* position: fixed; */
    z-index: 999;
    width: 100%;
    background-color: #0f1347;
    /* top: 0; */
    /* left: 0; */
    padding-top: 41px;
    padding-bottom: 40px;
}

.swiper-image{
  width: 100%;
}

.nav-list.active {
    display: flex;
  }

@media (max-width: 991px) {
  .navbar {
    display: none;
  }

  .status-btn {
    display: none;
  }
  .menu-toggle {
    display: block;
    color: #303030;
    z-index: 100;
  }

}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .status-btn {
    display: none;
  }
  .menu-toggle {
    display: block;
    color: #303030;
    z-index: 100;
  }
}

@media(max-width: 575px) {
  .navbar {
    display: none;
  }

  .status-btn {
    display: none;
  }
  .form-field {
    margin-bottom: 14px;
}

label.field-label {
    font-size: 14px;
}

p.field-value {
    font-size: 14px;
}

 .menu-toggle {
    display: block;
    color: #303030;
    z-index: 100;
  }


}
/* hero-section */




.marquee {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;

  span {
    text-transform: uppercase;
    /* will-change: transform; */
    /* transform: translateX(0); */
    white-space: nowrap;
    animation: marquee 4s linear infinite;

  }
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.hero-section{
  position: relative;
  width: 100%;
  background: url(/assest/image/header-desktop.png) no-repeat center center/cover;
}


p.dr-count {
  color: #17C2EC;
  font-family: var(--font-family-Inter-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
      text-align: left;

}
.specialist-label{
  color: #fff;
}


.swiper {
  /* margin: 100px auto; */
  width: 100%;
  height: auto;
}



.main-swiper-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-radius: 20px;
}

.fixed-icon {
  width: 50px;
  height: 50px;
  z-index: 2;
}

.left-icon {
  /* position: absolute; */
  left: -20px;
}

.right-icon {
    position: absolute;
    /* right: 40px; */
    display: flex
;
    justify-content: space-between;
    width: 100%;
}


img.next-swiper-icon {
    position: relative;
    left: 0;
}

img.prev-swiper-icon {
    position: relative;
    right: 0;
    /* height: 100px; */
}


.doctor-card {
    display: flex
;
    /* flex-direction: column; */
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: -5%;
    left: 0;
    z-index: 999;
    transform: translateY(-5%);
}

.right-section-header {
  width: 50%;
  position: relative;
}

.left-section-header {
  width: 50%;
}

.hero-wrap {
  display: flex;
  padding-bottom: 57px;
  padding-top: 50px;

}

h1.hero-heading {
  color: #17C2EC;
  font-family: var(--font-family-Inter-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 40px;
}

h2.hero-heading {
  color: #FFF;
  font-family: var(--font-family-Inter-extra-bold);
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 0 50px 50px 0;


}

span.hero-highlight {
  color: #17C2EC;
  font-family: var(--font-family-Inter-extra-bold);
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

p.hero-txt {
  color: rgba(255, 255, 255, 0.70);
  font-family: var(--font-family-Inter-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-section {
  /* position: absolute; */
  /* 
  top: 123px; */
  background: url(/assest/image/header-desktop.png) no-repeat center center / cover;
  width: 100%;
}

picture.hero-image {
  position: relative;
}

button.btn {
  color: #FFF;
  font-family: var(--font-family-Inter-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* padding: 20px 25px;
  border-radius: 25px; */
}

button.btn-secendry {
  background-color: #12aef5;
  border: none;
  margin-right: 20px;
  padding: 20px 25px;
  border-radius: 20px;
  background: #17C2EC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-secendry:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #1f234d;
  /* border: 1px solid #17C2EC; */
  color: #17C2EC;
}

button.btn-primary {
  background: #1f234d;
  border: 2px solid #17c2ec;
  border-radius: 20px;
  border: 2px solid #17C2EC;
  background: rgba(196, 196, 196, 0.10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 25px;
}

/* .btn-primary:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #1f234d;
  
  color: #17C2EC;
} */


.hero-btn {
  padding-top: 54px;
}

@media (max-width: 991px) {
  .hero-wrap {
    flex-direction: column;
    /* text-align: center; */
  }

  .left-section-header {
    width: 100%;
    padding-bottom: 58px;

  }

  .right-section-header {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hero-wrap {
    flex-direction: column;
    /* text-align: center; */
  }

  .left-section-header {
    width: 100%;
    padding-bottom: 58px;

  }

  .right-section-header {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 575px) {
  

  .left-section-header {
    width: 100%;
    padding-bottom: 58px;

  }

  .right-section-header {
    width: 100%;
    text-align: center;
  }
  h1.hero-heading {
    font-size: 12px;
            padding-bottom: 20px;
}

button.btn-secendry {
    padding: 16px 25px;
            font-size: 14px;

}

button.btn-primary {
    padding: 16px 25px;
            font-size: 14px;

}
.hero-btn {
            display: flex
;
        padding: 0;
        justify-content: space-evenly;

}

span.hero-highlight {
    font-size: 24px;
}
h2.hero-heading{
  font-size: 24px;
          padding-bottom: 20px;

}

p.hero-txt {
    font-size: 14px;
            padding-bottom: 40px;

}

button.submit-button{
    padding: 20px 25px;
    font-size: 14px;
    margin-top: 20px;
}

.prev-swiper-icon{
  width: 50px;
  height: 50px;
  
}
img.next-swiper-icon{
  width: 50px;
  height: 50px;
}

p.dr-count {
    font-size: 14px;
}

.scheduler-form {
    margin-bottom: -51px;
}
}





/* marque k just niche wla form  */

.ragister-form {
  background: url(/assest/image/card-bg.png);
}

.form-parent {
  padding: 63px 0;
}


.container-form {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 36px 96px;
  /* text-align: center; */
  width: 100%;
  /* max-width: 700px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.form-description {
  color: #FFF;
  text-align: left;
  font-family: var(--font-family-Inter-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 71px;

}

input.input-field {
  border-radius: 20px;
  border: 3px solid #17C2EC;
}

input.input-field.second {
  border-radius: 20px;
  border: 3px solid rgba(196, 196, 196, 0.15);
}


.form-box {
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 15px; */
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

/* .input-field {
  padding: 15px 20px;
  border: 2px solid #00bdfc;
  background: transparent;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  outline: none;
  min-width: 200px;
  flex: 1;
} */

.check-btn {
  padding: 20px 25px;
  border: 3px solid #00bdfc;
  background: transparent;
  color: #00bdfc;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 20px;
}

.check-btn:hover {
  background: #009fd1;
  color: #fff;
  /* border: none; */
}

.certificate-link {
  /* margin-top: 15px; */
  color: #00bdfc;
  /* font-size: 14px; */
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.05);
  padding: 20px 174px;
  text-align: center;
  color: #17C2EC;
  font-family: var(--font-family-Inter-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.certificate-link a {
  color: #00bdfc;
  text-decoration: underline;
}


@media (max-width: 991px) {
  .form-box {
    flex-direction: column;
  }

  input.input-field {
    width: 100%;
  }

  .certificate-link {
    font-size: 14px;
    padding: 14px 40px;
  }

  button.check-btn {
    margin-top: 20px;
    /* display: flex
; */
    /* text-align: left; */
  }
}

@media (max-width: 768px) {
  .form-box {
    flex-direction: column;
  }

  input.input-field {
    width: 100%;
  }

  .certificate-link {
    font-size: 14px;
    padding: 14px 40px;
  }

  button.check-btn {
    margin-top: 20px;
    /* display: flex
; */
    /* text-align: left; */
  }
}

@media(max-width: 525px) {
  .form-box {
    flex-direction: column;
    align-items: flex-start;
  }

  input.input-field {
    width: 100%;
            margin-bottom: 20px;

  }

  .certificate-link {
    font-size: 10px;
    padding: 14px 62px;

  }

  p.scheduler-title {
    padding-top: 18px;
    font-size: 14px;
}

img.timer-img {
    padding-right: 10px;
}

img.map-icon {
    padding-right: 9px;
}

.field-text {
    margin-bottom: 14px;
}
/* .form-parent {
    padding: 89px 0;
} */
h2.form-description {
    font-size: 10px;
    text-align: center;
            padding-bottom: 30px;

}
.container-form {
    padding: 13px 12px;
}
button.check-btn {
    margin: 0;
}
}



/* vaccination card section */

.content {
  padding-top: 57px;
}

.vaccination-scheduler {
  background: #0b0d30;
  color: white;
  font-family: var(--font-family-Inter-medium);
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  /* border: 2px solid rgba(255, 255, 255, 0.2); */
  border-radius: 20px;
  padding: 10px;

  text-align: left;
  transition: transform 0.3s;
}



.scheduler-title {
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: var(--font-family-Inter-semi-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;

}

.scheduler-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.05);
  padding: 56px 46px;
  border-radius: 12px;
  flex-wrap: wrap;

}

.form-field {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  flex: 1 1 250px;
}

.field-label {

  opacity: 0.7;
  margin: 0;
  display: block;
  color: rgba(255, 255, 255, 0.50);
  font-family: var(--font-family-Inter-semi-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.field-value {
  font-weight: 600;
  margin: 2px 0 0 0;
  color: #FFF;
  font-family: var(--font-family-Inter-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.submit-button {
  background: #00bfff;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
  border: none;
  padding: 20px 25px;
}

.submit-button:hover {
  background: #00a6d9;
}

img.timer-img {
  padding-right: 30px;
}

img.map-icon {
  padding-right: 29px;
}


@media (max-width: 768px) {
  .text {
    flex-direction: column;
    align-items: flex-start;
  }

}

@media (max-width: 991px) {
  .text {
    flex-direction: column;
    align-items: flex-start;
  }

}



/* vaccination section  */




.vaccination-head {
  color: #FFF;
  font-family: var(--font-family-Inter-bold);
  font-size: 47.9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 98%;

}


.text {
  display: flex;
  align-items: center;
  padding-bottom: 39px;
}

.vaccination-txt {
  color: rgba(255, 255, 255, 0.50);

  font-family: var(--font-family-Inter-medium);
  font-size: 19.958px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards {
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 20px; */
  padding-bottom: 80px;
}


.card {
  border-radius: 49.896px;
  border: 2.994px solid rgba(255, 255, 255, 0.50);
  padding: 40px 40px;
  margin-right: 74px;
  width: 33%;
  max-height: 100%;
  height: 440px;
  max-height: 100%;
  transition: 0.3s ease;

}

.card:hover {
  border-radius: 49.896px 149.688px 49.896px 49.896px;
  background: rgba(196, 196, 196, 0.20);
  /* height: max-content; */
  

}

img.icon-img {
  width: 70px;
  height: 70px;
}



.vaccination-section {
  background: url(/assest/image/card-bg.png);
}



.card .icon {
  font-size: 30px;
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  border-radius: 12px;
  width: fit-content;
  margin-bottom: 40px;
}

h3.card-heading {
  color: rgb(255, 255, 255);
  font-family: var(--font-family-Inter-bold);
  font-size: 23.95px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 30px;
  

}

/* .card-txt:hover {
  opacity: 1;
} */

p.card-txt {
  color: #FFF;
  font-family: var(--font-family-Inter-medium);
  font-size: 17.963px;
  font-style: normal;
  font-weight: 500;
  height: 0;
  line-height: normal;
  padding-bottom: 43px;
  opacity: 0;
  transition: 0.3s ease;
}

.card:hover p.card-txt {
  opacity: 1;
  height: 110px;

}

a.card-link {
  color: rgba(255, 255, 255, 0.50);
  font-family: var(--font-family-Inter-medium);
  font-size: 17.963px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}



/* form-section */

.form-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.form-section {
  /* flex: 1; */
  width: 50%;
}

.form-heading {
  color: #000;
  /* text-align: center; */
  font-family: var(--font-family-Inter-extra-bold);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
    padding: 40px;
    width: 50%;


}


input#fullname {
  border-radius: 20px;
  background: rgba(11, 21, 60, 0.15);
  /* padding: 20px 408px 20px 20px; */
  padding: 20px;
  border: none;
  margin-bottom: 40px;
  width: 100%;
  padding: 20px;
  max-width: 100%;

}

input#number {
  border-radius: 20px;
  background: rgba(11, 21, 60, 0.15);
  padding: 20px;
  border: none;
  margin-right: 36px;

}

h4.name {
  color: #000;
  font-family: var(--font-family-Inter-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;

}

.input-field {
  width: 40%;
  padding: 15px;
  /* border: none; */
  /* margin-bottom: 40px; */
  outline: none;
  border-radius: 20px;
  background: rgba(11, 21, 60, 0.15);
  margin-right: 20px;
}

h4.number {
  color: #000;
  font-family: var(--font-family-Inter-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;

}


.info {
  color: rgba(0, 0, 0, 0.50);
  font-family: var(--font-family-Inter-medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;

}

.phone-group {
  display: flex;
  gap: 10px;
}

.country-code {
  background: #e1e1e1;
  padding: 15px;
  border-radius: 8px;
}

.phone-group input {
  flex: 1;
}

.verify-btn {
  background: #00cfff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 20px 70px;
  cursor: pointer;
  border-radius: 20px;
}

.verify-btn:hover {
  background: #00b5e0;
}

.submit-btn {
  width: 100%;
  background: #00cfff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 15px 0;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  padding: 20px 25px;
}

.submit-btn:hover {
  background: #00b5e0;
}

.registered {
  font-size: 14px;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.50);
  font-family: var(--font-family-Inter-medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.registered a {
  color: #00cfff;
  text-decoration: none;
}

.registered a:hover {
  text-decoration: underline;
}

.image-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}



.covid-label {
  position: absolute;
  bottom: 55px;
  left: 116px;
  color: #fff;
}

.covid-label h3 {
  margin: 0 0 10px 0;
}

.verify-status {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.verify-status:hover {
  background: rgba(0, 0, 0, 0.7);
}

@media(max-width: 768px) {
  .form-container {
    flex-direction: column;

  }

  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 40px;
  }

  .image-card {
    text-align: center;
  }

  .form-section {
    width: 100%;
    padding: 0 20px;
  }



  .image-section {
    width: 100%;
  }

  h2.vaccination-head {
    padding-bottom: 40px;
  }
}


@media(max-width: 991px) {
  .form-container {
    flex-direction: column;

  }

  .cards {
    flex-direction: column;
     
  }

  .card {
    width: 100%;
    margin-bottom: 40px;
  }

  .image-card {
    text-align: center;
  }

  .form-section {
    width: 100%;
    padding: 0 20px;
  }



  .image-section {
    width: 100%;
  }

  h2.vaccination-head {
    padding-bottom: 40px;
  }
}
@media(max-width: 575px) {
  .form-container {
    flex-direction: column-reverse;

  }
  .form-heading{
    padding: 40px;
    width: 100%;
    font-size: 24px;
    text-align: center;
  }

  .form-container{
    padding: 0;
    width: 100%;
  }

  h2.vaccination-head{
    padding-bottom: 20px;
            font-size: 24px;

  }
  input#number {
    width: 100%;
}

.vaccination-txt {
    font-size: 14px;
}

  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 40px;
  }

  .image-card {
    text-align: center;
            padding-bottom: 40px;
     
  }
  .card-img{
    width: 100%;
    height: auto;
  }

  input#fullname {
    margin-bottom: 20px;
}

p.info {
    font-size: 14px;
}

button.verify-btn {
    max-width: fit-content;
    font-size: 14px;
        margin-top: 20px;

}

button.submit-btn {
    font-size: 14px;
    margin-top: 60px;
}

p.registered {
    font-size: 14px;
    padding: 20px 0 40px;
    margin-top: 0;
}

  h4.number {
    font-size: 14px;
}

h4.name {
    font-size: 14px;
}

  .form-section {
    width: 100%;
    padding: 0 20px;
  }

  .phone-group{
    flex-direction: column;
  }
}


/* symptoms section */

.symptoms-section {
  background: url(/assest/image/card-bg.png);
}

.header-symptoms {
  text-align: center;
  padding-top: 60px;

}

p.symptom-txt {
  color: #FFF;
  text-align: center;
  font-family: var(--font-family-Inter-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;

}

.description {
  max-width: 785px;
  margin: 0 auto 50px;
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-family: var(--font-family-Inter-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* padding-bottom: 200px; */

}

h1.symptom-head {
  color: #FFF;
  font-family: var(--font-family-Inter-medium);
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-bottom: 40px;

}

span.symptom-highlight {
  color: #17C2EC;
  font-family: var(--font-family-Inter-medium);
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header h1 span {
  color: #00f5ff;
}

.symptom-image {
  width: 100%;
}


.symptoms-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.one {
  position: absolute;
  left: 3%;
}

.two {
  position: absolute;
  left: 11%;
  top: 10%;
}

.three {
  position: absolute;
  left: -6%;
  bottom: 0%;
}

.four {
  position: absolute;
  left: 63%;
  top: 11%;
}


.five {
  position: absolute;
  left: 68%;
  top: 50%;
}

.six {
  position: absolute;
  bottom: 0;
  left: 75%;
}

.symptoms {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.symptom-item {
  display: flex;
  align-items: center;

}



.label {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
  color: #00f5ff;
  color: #17C2EC;
  text-align: center;
  font-family: var(--font-family-Inter-medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



@media (max-width: 991px) {
  .virus-img {
    width: 65px;
    height: 65px;
  }

  .label {
    font-size: 18px;
  }
}

@media (max-width: 757px) {
  .virus-img {
    width: 55px;
    height: 55px;
  }

  .label {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .virus-img {
    width: 31px;
    height: 31px;
  }

  .label {
    font-size: 8px;
  }
}

@media (max-width: 425px) {
  p.symptom-txt {
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 0;
}

h1.symptom-head {
    font-size: 24px;
}

span.symptom-highlight {
    font-size: 24px;
}
h1.symptom-head {
    font-size: 24px;
    padding-bottom: 10px;
}

p.description {
    font-size: 12px;
    padding-bottom: 30px;
    margin: 0;
}

}

/* feedback section */


.feedback-section {
  text-align: center;
  padding-top: 57px;

}

.feedback-label {
  color: #00cfff;
  font-weight: bold;
  margin-bottom: 10px;
  color: #17C2EC;
  text-align: center;
  font-family: var(--font-family-Inter-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}

h2.feedback-head {
  color: #000;
  text-align: center;
  font-family: var(--font-family-Inter-bold);
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-bottom: -4px;
}

.feedback-section .description {
  color: #555;
}

.description-feedback {
  max-width: 840px;
  margin: 40px auto -79px;
  /* color: rgba(255, 255, 255, 0.50); */
  text-align: center;
  font-family: var(--font-family-Inter-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.testimonials {
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: center;

}

.testimonial {
  background: #f0f0f0;
  border-radius:  12px;
  padding: 30px 12px;
  /* width: 353px; */
  text-align: center;
  position: absolute;
  top: 150px;
  transition: 0.3s ease-in-out;
}

.testiomoal-flex {
  display: flex;
  align-items: center;
}

h4.testimonal-head {
  color: #000;
  text-align: center;
  font-family: var(--font-family-Inter-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 5px;
}

.parent-testimonal {
  position: relative;
  margin: 24px;
}


.testimonial img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonal-content {
  padding-left: 20px;
}

.testimonial .location {
  /* font-size: 12px; */
  /* color: #666; */
  color: rgba(0, 0, 0, 0.50);
  text-align: left;
  font-family: var(--font-family-Inter-medium);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.testimonial:hover  {
    background-color: #00cfff;
    /* color: #fff; */
}

.testimonial .text-tstimonal {
  /* font-size: 13px; */
  /* color: #333; */
  color: rgba(0, 0, 0, 0.60);
  text-align: center;
  font-family: var(--font-family-Inter-regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 48px;
}

span.highlight {
  color: #00cfff;
  font-family: var(--font-family-Inter-bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 768px) {
  .testimonials {
    flex-direction: column;
  }

  .testimonial {
    width: 100%;
    /* max-width: fit-content; */
  }
}

@media (max-width: 991px) {
  .testimonials {
    flex-direction: column;
  }

  .testimonial {
    width: 100%;
    /* max-width: fit-content; */
  }
}
@media (max-width: 575px) {
  p.feedback-label {
    font-size: 14px;
    margin: 0;
}

h2.feedback-head {
    padding-bottom: 10px;
    font-size: 24px;
}

p.description-feedback {
    font-size: 12px;
    padding: 16px 63px;
    margin: 0;
}

h4.testimonal-head {
    font-size: 14px;
}

.testimonial .location{
  font-size: 10px;
}

.testimonial .text-tstimonal{
  font-size: 12px;
  /* padding: 0 20px; */
  margin: 28px ;
}

span.highlight {
    font-size: 12px;
}
}


/* quote section */

.quote-section {
  background: #00cfff;
  text-align: center;
  padding: 50px 20px;
  margin-top: -50px;
  border-radius: 20px;
  max-width: 1031px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 990;
  width: 100%;
  /* margin-left: 0; */
  /* margin-right: 0; */
  left: 0;
  right: 0;
}

h3.quote-head {
  color: #FFF;
  text-align: center;
  font-family: var(--font-family-Inter-bold);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 20px;
}

p.quote-description {
  color: #FFF;
  text-align: center;
  font-family: var(--font-family-Inter-regular);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 40px;
}

img.send-icon {
  display: flex;
  width: 40px;
  height: 40px;
}


.email-box {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
}

.email-box input {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
}

.email-box button {
  background: #0b0d3f;
  color: #fff;
  border: none;
  padding: 0 20px;
  cursor: pointer;
}

@media(max-width: 575px) {
 h3.quote-head {
    font-size: 18px;
    padding-bottom: 8px;
}
  p.quote-description {
      font-size: 14px;
      padding: 0 20px;
}


}

/* footer-section */


footer {
  background: url(/assest/image/card-bg.png);
  color: #fff;
  padding: 327px 20px 60px 129px;
  text-align: center;
  position: relative;
  /* height: 500px; */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h4 {
  margin-bottom: 20px;
}

footer nav {
  margin-bottom: 20px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.50);

  font-family: var(--font-family-Inter-medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin: 0 15px;
}

footer nav a.active {
  border-bottom: 2px solid #00cfff;
}

footer .social-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

@media(max-width: 768px) {
  footer {
    padding: 327px 20px 0 19px;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  img.footer-logo {
    padding-bottom: 40px;
  }

  nav.footer-nav {
    padding-bottom: 40px;
  }

  .social-icons {
    padding-bottom: 50px;
  }
}

@media(max-width: 991px) {
  footer {
    padding: 327px 20px 0 19px;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  img.footer-logo {
    padding-bottom: 40px;
  }

  nav.footer-nav {
    padding-bottom: 40px;
  }

  .social-icons {
    padding-bottom: 50px;
  }
}

@media(max-width: 575px) {
  footer {
    padding: 260px 20px 0 19px;
    text-align: left;
}

nav.footer-nav {
    display: flex
;
    flex-direction: column;
}

a.footer-link {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-icon{
  width: 17px;
}
} 